{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EventBooking{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/static/js/seats.js"></script>
    <script src="/static/js/timer.js"></script>
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Event booking platform</a>
        <a href="{% url "reservation:reservation_check" %}" class="res-check">Check your reservation</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>