{% extends "base.html" %}

{% block title %}Buy tickets{% endblock %}

{% block content %}
<div class="event-desc">
    <h2 class="event-title">{{event.name}}</h2>
    <strong>Event time: </strong><p>{{event.datetime}}</p>
    <strong>Available tickets: </strong><br>
    {% for ticket_type in free_tickets %}
    {{ticket_type.type__type}}: <span id="{{ticket_type.type__type|slice:1}}">{{ticket_type.total}}</span>
    {% endfor %}
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <strong><label for="tickets_counter">Tickets amount: </label></strong>
            <input id="tickets_counter" type="text" value="0" readonly>
            <input class="btn submit-button confirm" type="submit" value="Confirm">
            <a href="{% url "event:events" %}" class="btn cancel" role="button">Cancel</a>
        </form>

    </div>
    <p id="warning">

    </p>
</div>

{% include "reservation/seats.html" with ticket_types_data=tickets %}
{% endblock %}