{% extends "base.html" %}

{% block title %}Reservation confirm{% endblock %}
{% block content %}
<div class="time-left">
    <h4>Time left to buy tickets:</h4>
    <h3 class="timer">{{left_time}}</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Confirm">
    </form>
</div>
<div class="col-md-6 reservation-detail" >
    {% include "reservation/reservation_detail.html" with tickets=tickets total_price=total_price %}
</div>
<a id="res_canceled" href="{% url "reservation:reservation_canceled" reservation_pk=reservation.pk %}" hidden>Click</a>
{% endblock %}