{% extends "base.html" %}

{% block title %}Buy tickets{% endblock %}

{% block content %}
<div class="event-desc">
    <h2 class="event-title">{{event.name}}</h2>
    <p>{{event.description}}</p>
    <strong>Event time: </strong><p>{{event.datetime}}</p>
    <strong>Available tickets: </strong><br>
    {% for ticket_type in free_tickets %}
    {{ticket_type.type}}: {{ticket_type.total}}
    {% endfor %}
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <strong><label for="chosen_seats">Chosen seats: </label></strong>
            <textarea rows="3" class="form-control" id="chosen_seats" name="chosen_seats" readonly>
            </textarea>
            <strong><label for="tickets_counter">Tickets amount: </label></strong>
            <input id="tickets_counter" type="text" value="0" readonly>
            <input class="submit-button confirm" type="submit" value="Confirm">
        </form>
        <a href="{% url "event:events" %}" class="btn btn-primary " role="button">Cancel</a>

    </div>
</div>

{% include "reservation/seats.html" with ticket_types_data=tickets %}

{% endblock %}