{% extends "base.html" %}

{% block title %}Buy tickets{% endblock %}

{% block content %}
<h2>{{event.name}}</h2>
<p>{{event.description}}</p>
Available tickets: <br>
{% for ticket_type in free_tickets %}
{{ticket_type.type}}: {{ticket_type.total}}
{% endfor %}
<form action="" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" value="OK">
</form>
<form action="" method="post">
    {% include "reservation/seats.html" with ticket_types_data=tickets %}
    <!--<input type="button" class="btn btn-warning" value=1>-->
    {% csrf_token %}
    <input type="submit" value="OK">
</form>
{% endblock %}