{% extends "base.html" %}

{% block title %}Buy tickets{% endblock %}
{% block content %}
<div class="time-left">
    <h4>Time left to buy tickets:</h4>
    <h3 class="timer">{{left_time}}</h3>
</div>
<div class="col-md-6 reservation-detail" >
    {% include "reservation/reservation_detail.html" with tickets=tickets total_price=total_price %}
</div>

<!--<div class="col-md-6">-->
<!--<table class="table table-hover">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col-1">Type (Price for 1 ticket)</th>-->
      <!--<th scope="col-1">Amount</th>-->
      <!--<th scope="col-1">Price</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--{% for ticket_type in tickets %}-->
    <!--<tr>-->
      <!--<td>{{ticket_type.ticket_type}} ({{ticket_type.price}})</td>-->
      <!--<td>{{ticket_type.amount}}</td>-->
      <!--<td>{{ticket_type.total_price}}</td>-->
    <!--</tr>-->
  <!--{% endfor %}-->
  <!--<tr>-->
      <!--<th colspan="2">Total price</th>-->
      <!--<td>{{total_price}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
<!--</div>-->

{% endblock %}